@import "variables";
@import "imports";

@zulu-black: #2A2A2A;
html, body, .container-fluid{
  height : 100%;
}

.container-fluid {
  padding: 15px;
}

body {
  text-align: center;
  color: #222;
  font-family: 'Raleway', sans-serif;
}

.big-section{
  >img {
    margin: auto;
  }
  padding-top: 50px;
  height: 100%;
  background-color: @zulu-black;
  color: white;
  h1{
    font-size:5rem;
    margin-bottom: 20px;
  }
  h2{
    font-size: 2rem;
  }
  .rounded-button{
    margin-top: 50px;
    display: inline-block;
    font-weight: 600;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    line-height: 150px;
    font-size: 20px;
    color: @zulu-black;
    background-color: white;
    &:hover{
      background-color: darken(whitesmoke, 10%);
      text-decoration: none;
    }
  }
}

#professional{
  color: @zulu-black;
  margin-top: 10%;
  .profession {
    font-size: 20px;
  }
  >img{
  	border: solid 5px @zulu-black
  }
  animation-duration: 1s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-duration: 1s;
  -moz-animation-delay: 0.2s;
}

#stats{
  height: 100%;
  color: white;
  background-color: @zulu-black;
  .average-title{
    font-size: 45px;
  }
  .average{
    font-size: 100px;
  }
}

a, a:visited {
  text-decoration: none;
}

.rating-box{
  color: @zulu-black;
  margin-top: 40px;
  img {
    border: none;
    width: 50px;
  }
}
