<div id="stats" class="big-section" ng-show="currentStats.visible">
	<div class="average-title" >Last {{NUMBER_IN_CURRENT_STATS}} average is</div>
	<div class="average">{{currentStats.average}}</div>
	<button class="rounded-button" ng-click="continue()">Continue</button>
</div>
<div id="professional" class="text-center" ng-hide="currentStats.visible || !currentRatedProfessional">
	<img class="img-circle" ng-src="{{currentRatedProfessional.pictureUrl}}">
	<h1>{{currentRatedProfessional.name}}</h1>
	<p class="profession">{{currentRatedProfessional.profession}}</p>
	<div class="row text-center rating-box">
		<h4>What's her gentleman rate ?</h4>
		<div class="col-sm-6 col-sm-offset-3">
			<img src="assets/images/bored.svg">
			<div class="btn-group visible-xs-inline-block visible-sm-inline-block" role="group">
				<button class="btn btn-sm btn-default" ng-repeat="rating in [1,2,3,4,5]" ng-click="rate(rating, $event)">&nbsp;{{rating}}&nbsp;</button>
			</div>
			<div class="btn-group hidden-sm hidden-xs" role="group">
				<button class="btn btn-lg btn-default" ng-repeat="rating in [1,2,3,4,5]" ng-click="rate(rating, $event)">&nbsp;{{rating}}&nbsp;</button>
			</div>
			<img src="assets/images/excited.svg">
		</div>
	</div>
</div>
